requests==2.24.0
albumentations==0.4.6
mercantile==1.1.5
neat_eo==0.0.2
numpy==1.19.1
osmium==3.0.1
Pillow==7.2.0
psycopg2-binary==2.8.5
rasterio==1.1.5
Shapely==1.7.1
supermercado==0.1.1
toml==0.10.1
torch==1.6.0
tqdm==4.48.2
webcolors==1.11.1
